<form method="POST" action="/new">
    <label for="messageUser">name:</label>
    <input type="text" name="messageUser">
    <label for="messageText">message:</label>
    <input type="text" name="messageText">
    <button type="submit">submit</button>
 </form>